.navbar {
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     position: fixed;
          z-index: 1000;
}
@media only screen and (max-width: 400px) {
     .navbar_items {

         display: none !important;


     }

}

@media only screen and (max-width: 600px) {
.navbar_items {

          display: none !important;


     }

}